.title-de-carrito{
    color: brown;
    font-size: 20px;
}
.autor_carrito{
    color: rgb(50, 103, 173);
    font-size: 15px;
}
.text_carrito{
    color: rgb(0, 0, 0);
    font-size: 12px;
}
.img_desc{
    width: 60px;
    height: 60px;
}
.title_element{
    color: brown;
    margin-bottom: -50px;
    margin-top: 50px;
}

.woocommerce-pagination{
 margin-bottom: 20%;
 margin-top: -5%;

 margin-left: 0%;
}
.woocommerce-pagination2{
    margin-bottom: 20%;
    margin-top: -5%;
   
    margin-left: 0%;
   }
.woocommerce-pagination li{
    list-style: none;
     
 }
 .woocommerce-pagination2 li{
    list-style: none;
     
 }
 .woocommerce-pagination li a{
     background-color:#90151c;
     color:rgb(0, 0, 0);
     text-decoration:none;
     padding:10px 15px;
     display:block;
      
  }
  .woocommerce-pagination2 li a{
    background-color:#393bc0;
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10px 15px;
    display:block;
     
 }
  .woocommerce-pagination li a:hover{
     background-color:rgba(153, 0, 135, 0);
     color:#90151c;
     
      
  }
  .woocommerce-pagination2 li a:hover{
    background-color:rgba(153, 0, 135, 0);
    color:#190a5c;
    
     
 }
  .woocommerce-pagination li{
     float: left;
      
  }
  .woocommerce-pagination2 li{
    float: left;
     
 }
  .woocommerce-pagination li .page-numbers1{
      background: rgb(61, 61, 150);
  }
  .woocommerce-pagination2 li .page-numbers1{
    background: rgb(61, 150, 105);
}

.product_count{
    padding-top: 15px;
    border: 0px solid #dee2e6;
    height: 40px;
    
}
.product_count .baja{
   background: lawngreen;
}
 
