.title-de-carrito{
    color: brown;
    font-size: 20px;
}
.autor_carrito{
    color: rgb(50, 103, 173);
    font-size: 15px;
}
.text_carrito{
    color: rgb(0, 0, 0);
    font-size: 12px;
}
.img_desc{
    width: 60px;
    height: 60px;
}
.title_element{
    color: brown;
    margin-bottom: -50px;
    margin-top: 50px;
}

.pagination1{
    margin: 1rem;
    padding: 1rem;
    margin-left: 50%;
    margin-top: -8%;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.pagination1 li a:hover{
    background:#90151c;
}
.pagination li a:hover{
    background:#90151c;
}

.product_count{
    padding-top: 15px;
    border: 0px solid #dee2e6;
    height: 40px;
    
}
.product_count .baja{
   background: lawngreen;
}
 
