.modal-dialog{
	margin-top: 10%;
	
}


.content_login_register a{
	background: #90151c;
	color: rgb(255, 255, 255);
	text-decoration: none;
	float: left;
	width: 50%;
	text-align: center;
	height: 25px;
	border: 1px solid black;
	border-radius: 50px;
	margin-top: 8%;
}
.content_login_register .master_reg a{
	margin-top: 2%;
}
.content_login_register a:hover{
	background: #9c9a9a;
	color: #90151c;
	text-decoration: none;
}
.form_user input{
	background: rgb(204, 202, 202);
	margin-top: 20px;
	width: 50%;
	color: black;
	margin-left: 25%;
	border: 0;
	border-radius: 8px;
}
.form_user input:hover{
	background: rgb(201, 173, 171);

}
.form_chackbox {
	margin-top: 5px;
	color: rgb(0, 0, 0);
	margin-left:50% ;
	width: 50%;
	text-align: center;
}
.form_chackbox:hover{
	color: #90151c;
}
.form_boton input{
	background: #90151c;
	color: rgb(255, 255, 255);
	border: 0;
	border-radius: 30px;
	width: 30%;
	margin-left: 35%;
	margin-bottom: 20px;
}
.form_boton input:hover{
	background: rgb(218, 217, 216);
	color: #90151c;
}
.form_forgot a{
	color: brown;
	margin-left: 10%;
}
.form_forgot a:hover{
	color: rgb(187, 184, 184);
}
.form_forgot button{
	background: rgba(185, 183, 183, 0.774);
	width: 40px;
	color: #90151c;
	font-size: 30px;
}
.text_register input{
	background: rgb(204, 202, 202);
	margin-top: 20px;
	width: 50%;
	color: black;
	margin-left: 10%;
	border: 0;
	border-radius: 8px;
}
.text_register input:hover{
		background: rgb(201, 173, 171);
}
.margin_btn input{
	margin-top: 20px;
}